<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxb.mediasystem.mapper.PublicTagMapper">

    <select id="getTagList" resultType="com.xxb.mediasystem.model.PublicTag">
        select * from tag
    </select>
    <select id="getTagById" resultType="java.lang.String">
        select tag from tag where id = #{tagId}
    </select>
    <insert id="addTag" keyColumn="id" parameterType="com.xxb.mediasystem.model.PublicTag">
        insert into tag (tag)
        values (#{tag})
    </insert>
</mapper>